body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #696969

}

.container{
  display: flex;
  align-content: flex-start;
  background: #363636;
}

.left-nav{
  flex: 1;
  border-right: 1px solid white;
  max-width: 22%;
  height: 100vh;
  padding-right: 15px;
}

.right-content{
  padding-left: 5px;
  flex: 2;
}
  
h1, h2, h3, h4, p {
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}

h1, h2, h3, h4{
  text-transform: uppercase;
  color: navajowhite;
}

h3, h4 {
  color: black;
  margin: 2px;
}

h3 {
  font-size: 28px;
  color: darkgoldenrod;
}

h4 {
  font-size: 20px;
}

.left-nav h4 {
  color: white;
}

button {
  margin: 5px;
}

.form-horizontal {
  margin: 5px;
}

.col-sm-0 {
  color: white;
}

.item-container{
  display: flex;
  flex-wrap: wrap;
}

.child-items{
  border-radius: 25px;
  margin: 5px;
  padding-top: 5px;
  text-align: center;
  background-color: navajowhite;
  width: 31%;
  height: 100px;
  box-sizing: border-box;
}

@media only screen and (max-width: 769px){
  .child-items{
    width: 47%;
  }

  .form-horizontal{
    margin: 0px;
  }
}

.child-items:hover{
  box-shadow: 0px 2px 1px rgb(211, 211, 211);
}

.child-items p{
  color: black;
  margin: 0px;
  padding: 10px;
}